<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table {
            border-collapse: collapse;
            text-align: center;
            margin: 200px auto;
        }

        input {
            text-align: center;
            width: 60px;
        }
    </style>
</head>

<body>
    <div id="app">
        <table border>
            <caption>购物车</caption>
            <tr>
                <td>全选<input type="checkbox" v-model="selectAll" @change="box"></td>
                <td>商品id</td>
                <td>商品名</td>
                <td>商品价格</td>
                <td>操作</td>
                <td>购买数量</td>
                <td>操作</td>
                <td>总计</td>
                <td>移出购物车</td>
            </tr>
            <tr v-for="(v,i) in cartData">
                <td><input type="checkbox" v-model="singleOption" :value="v.id" @change="one"></td>
                <td>{{v.id}}</td>
                <td>{{v.name}}</td>
                <td>{{v.price}}</td>
                <td><button @click="shopping(i,-1)">-</button></td>
                <td><input type="text" :value="v.num" @blur="vl(i,$event)"></td>
                <!-- <td><input type="text" v-model.number="v.num"></td> -->
                <td><button @click="shopping(i,+1)">+</button></td>
                <td>{{v.price * v.num}}</td>
                <td><a href="javascript:;" @click="remove(i)">删除</a></td>
            </tr>
            <tr>
                <!-- 总金额 =  选中的总计 -->
                <td colspan="9">总金额:{{lumpSum}}</td>
            </tr>

        </table>

    </div>
    <script src="./lib/vue.js"></script>
    <script>
        var cartData = [
            { id: 1, name: '曹琦芳', price: 1, num: 1 },
            { id: 2, name: '苗文达', price: 2, num: 1 },
            { id: 3, name: '曹犬', price: 300, num: 1 }
        ]
        new Vue({
            el: '#app',
            data: {
                cartData,
                // 全选开关
                selectAll: false,
                // 单选
                singleOption: [],
                num: 1,
                // 总金额
                lumpSum: 0,

            },
            methods: {
                shopping(i, num) {
                    if (this.cartData[i].num === 1 && num == -1) {
                        if (confirm('真的不买一件吗？')) {
                            this.cartData.splice(i, 1)
                        }
                    } else {
                        this.cartData[i].num += num;
                    }
                    this.priceSum();
                },
                vl(i, e) {
                    //   console.log( e.target.value);
                    if (e.target.value <= 1 || isNaN(e.target.value)) {
                        e.target.value = 1;
                        this.cartData[i].num = e.target.value;
                        this.priceSum();
                    }
                    this.cartData[i].num = e.target.value;
                    this.priceSum();
                   
                },
                remove(i) {
                    if (confirm('确定要删除吗？')) {
                        this.cartData.splice(i, 1);
                        this.priceSum();
                    }
                },
                // 判断全选
                box() {
                    if (this.selectAll === true) {
                        for (let i = 0, len = this.cartData.length; i < len; i++) {
                            this.singleOption.push(this.cartData[i].id);
                            // this.lumpSum += (this.cartData[i].price * this.cartData[i].num)
                        }
                        this.priceSum();
                    } else {
                        this.singleOption = [];
                        this.lumpSum = 0;
                    }

                },
                // 单选 判断 全选
                one() {
                    console.log('触发了');
                    if (this.singleOption.length === this.cartData.length) {    
                        this.selectAll = true;
                        this.priceSum();
                    } else {
                        this.selectAll = false;
                        this.priceSum();
                    }
                },
                // 计算总价
                priceSum() {
                    this.lumpSum = 0;
                    for (let i = 0, len = this.singleOption.length; i < len; i++) {
                        this.lumpSum += (this.cartData[i].num * this.cartData[i].price);
                    }
                    // console.log(this.singleOption.length);
                    // console.log(this.lumpSum);
                }
            },
        })
    </script>
</body>

</html>